<div class="row">
  <div class="col-md-4">
    <%= form_with(model: donor, local: true) do |form| %>
      <% if donor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

          <ul>
            <% donor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :middle_name %>
        <%= form.text_field :middle_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phone %>
        <%= form.text_field :phone, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :project %>
        <%= form.text_field :project, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :donation_amount %>
        <%= form.text_field :donation_amount, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :status %>
        <%= form.select :status,
            Donor.statuses.keys, {},
            class:"form-control" %>
      </div>

      <div class="actions">
        <%= form.submit class:"btn btn-sm btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>
