<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h1><%= @donor.full_name %></h1>
        </div>
        <div class="card-body">
          <strong>Email:</strong>
          <%= @donor.email %>
          <br>
          <strong>Phone:</strong>
          <%= @donor.phone %>
          <br>
          <strong>Project:</strong>
          <%= @donor.project %>
          <br>
          <strong>Donation amount:</strong>
          <%= @donor.donation_amount %>
          <br>
          <strong>Status:</strong>
          <%= @donor.status %>
        </div>
      </div>
    </div>
  </div>
</div>
