<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Visitors</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Actions</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @visitors.each do |visitor| %>
        <tr>
          <td><%= visitor.full_name %></td>
          <td><%= visitor.project %> </td>
          <td>
            <%= link_to visitor do %>
              <span class="far fa-eye"></span>
            <% end %>

            <%= link_to edit_visitor_path(visitor) do %>
              <span class="far fa-edit"></span>
            <% end %>

            <%= link_to visitor, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="far fa-trash-alt"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
