<footer class="main-footer">
        <div class="container">

            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    <!--Big Column-->
                    <div class="big-column col-lg-5">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-md-7">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <!-- <a href="index.html"> <%= image_tag "footer-logo" %> </a> -->
                                        </figure>
                                    </div>
                                    <div class="widget-content">
                                        <div class="text">Significantly pushed under the frugal lemur one and meretricious lucrative inside before swept magnificently expand business.</div>
                                        <ul class="social-icon-three">
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube-v"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-md-5">
                                <div class="footer-widget services-widget">
                                    <h2 class="widget-title">Our Partners</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">Donate ChariteMax</a></li>
                                            <li><a href="#">Save Our Earth</a></li>
                                            <li><a href="#">Water Shortages</a></li>
                                            <li><a href="#">Plant Trees Welfare</a></li>
                                            <li><a href="#">Recycle Better Way</a></li>
                                            <li><a href="#">Get A Food Plate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Big Column-->
                    <div class="big-column col-lg-7">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-md-7">
                                <div class="footer-widget posts-widget">
                                    <h2 class="widget-title">Recent Posts</h2>
                                    <div class="widget-content">
                                        <div class="posts">
                                            <div class="post">
                                              <% @articles.each do |article| %>
                                                <figure class="post-thumb">
]                                                   <%= link_to article, class:"overlay-link" do %>
                                                      <span class="fa fa-link"></span>
                                                    <% end %>
                                                </figure>
                                                <div class="desc-text">
                                                  <%= link_to "#{article.title}", blog_path(article) %>
                                                </div>
                                                <div class="time">Posted: <%= article.date %></div>
                                              <% end %>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-md-5">
                                <div class="footer-widget contact-widget">
                                    <h2 class="widget-title">Contact</h2>
                                    <div class="widget-content">
                                        <ul class="contact-info-list">
                                            <li><i class="fas fa-map-marker-alt"></i>4801 Glenwood Ave, Ste 200</li>
                                            <li><i class="fas fa-phone"></i>Support: +(034) 256 7850</li>
                                            <li><i class="fas fa-envelope-open"></i>Email: info@youthactionsupport.org</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
         <div class="footer-bottom">
            <div class="container">
                <div class="clearfix">
                    <div class="float-sm-left">
                        <div class="copyright-text">
                            <p>Copyrights © 2018 <%= link_to "YAS!", root_path %>. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="float-sm-right">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Use </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
