<!-- Feature section -->
    <section class="feature-section">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"> <%= image_tag "resource/feature-1" %> </div>
                        <div class="overlay-content">
                            <h5> <%= t('section4-h5-1') %> </h5>
                            <h4> <%= t('section4-h4-1') %> </h4>
                        </div>
                    </div>
                </div>
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"> <%= image_tag "resource/feature-2" %> </div>
                        <div class="overlay-content">
                            <h5> <%= t('section4-h5-3') %> </h5>
                            <h4> <%= t('section4-h4-1') %> </h4>
                        </div>
                    </div>
                </div>
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"> <%= image_tag "resource/feature-3" %> </div>
                        <div class="overlay-content">
                            <h5> <%= t('section4-h5-3') %> </h5>
                            <h4> <%= t('section4-h4-1') %> </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
