<!-- Donate form -->
    <section class="donate-form">
        <div class="container">
            <div class="outer-box">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <h1> <%= t('section2-h1') %></h1>
                            <h4> <%= t('section2-h4') %></h4>
                            <div class="text text-justify">
                              <%= t('section2-div1') %>
                            </div>

                            <!--Progress Levels-->

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="default-form-area">
                          <%= form_with model: @visitor do |form| %>
                            <div class="form-group">
                              <%= form.label :first_name %>
                              <%= form.text_field :first_name, class:"form-control" %>
                            </div>
                            <div class="">
                              <%= form.label :last_name %>
                              <%= form.text_field :last_name, class:"form-control"  %>
                            </div>
                            <div class="">
                              <%= form.label :project %>
                              <%= form.text_area :project, class:"form-control" %>
                            </div>
                            <br>
                            <div class="">
                              <%= form.submit 'submit your idea', class:"btn btn-primary" %>
                            </div>

                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
