<!-- Main slider -->
    <section class="main-slider">
        <div class="container-fluid">
            <ul class="main-slider-carousel slide-nav">
                <li class="slider-wrapper">
                    <div class="image"> <%= image_tag "team-lg" %></div>
                    <div class="slider-caption light">
                        <div class="container">
                            <h3><%= t('section1-h3') %> <span class="border-shape"></span></h3>
                            <h1><%= t('section1-h1') %></h1>
                            <!-- <div class="text light"> <%= t('section1-div1') %></div>
                            <div class="link-btn">
                              <a href="#" class="theme-btn btn-style-six">
                                <%# <%= t('section1-button1') %> %>
                              </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="slide-overlay"></div>
                </li>
            </ul>
        </div>
    </section>
