<!-- Volunteer section -->
<section class="volunteer-section">
    <div class="container">
        <div class="outer-box">
            <!--Sec Title-->
            <div class="sec-title centered">
                <div class="icon-box"> <%= image_tag "icons/sec-title" %> </div>
                <h1> <%= t('section8-h1') %></h1>
                <div class="text"> <%= t('section8-text1') %></div>
            </div>
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="text-block-two">
                        <h3> <%= t('section8-h3') %></h3>
                        <h4> <%= t('section8-h4-1') %></h4>
                        <div class="text"> <%= t('section8-text2') %></div>
                        <div class="link-btn"><a href="#" class="theme-btn btn-style-two"> <%= t('section8-button1') %></a></div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="image"> <%= image_tag "resource/volunteer" %> </div>
                </div>
            </div>
        </div>
    </div>
</section>
