
    <!-- Service section -->
    <section class="service-section sp-two" id="board-of-directors">
        <div class="container">
            <!--Sec Title-->
            <div class="sec-title centered">
                <div class="icon-box"> <%= image_tag "icons/sec-title" %> </div>
                <h1> <%= t('section7-h1') %></h1>
                <!-- <div class="text"> <%= t('section7-caption') %></div> -->
            </div>
            <div class="row clearfix">
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <!-- <div class="image">
                            <%= image_tag "resource/service-1" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="lower-box text-center">
                            <h3><%= t('section7-h3-1') %></h3>
                            <!-- <div class="text"> <%= t('section7-text1') %></div> -->
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <!-- <div class="image">
                            <%= image_tag "resource/service-2" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="lower-box text-center">
                            <h3><%= t('section7-h3-2') %></h3>
                            <!-- <div class="text"> <%= t('section7-text2') %></div> -->
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <!-- <div class="image">
                            <%= image_tag "resource/service-3" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="lower-box text-center">
                            <h3><%= t('section7-h3-3') %></h3>
                            <!-- <div class="text"> <%= t('section7-text3') %></div> -->
                        </div>
                    </div>
                </div>
                <!-- end -->

            </div>
            <div class="row clearfix">
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <!-- <div class="image">
                            <%= image_tag "resource/service-1" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="lower-box text-center">
                            <h3><%= t('section7-h3-4') %></h3>
                            <!-- <div class="text"> <%= t('section7-text4') %></div> -->
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <!-- <div class="image">
                            <%= image_tag "resource/service-2" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="lower-box text-center">
                            <h3><%= t('section7-h3-5') %></h3>
                            <!-- <div class="text"> <%= t('section7-text5') %></div> -->
                        </div>
                    </div>
                </div>
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <!-- <div class="image">
                            <%= image_tag "resource/service-3" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="lower-box text-center">
                            <h3><%= t('section7-h3-6') %></h3>
                            <!-- <div class="text"> <%= t('section7-text6') %></div> -->
                        </div>
                    </div>
                </div>
                <!-- end -->

            </div>
            <div class="row clearfix">
                <!--Service Block-->
                <div class="services-block-three col-lg-4 col-md-6">
                    <div class="inner-box">
                        <!-- <div class="image">
                            <%= image_tag "resource/service-1" %>
                            <div class="overlay">
                                <a class="link-btn" href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="lower-box text-center">
                            <h3><%= t('section7-h3-7') %></h3>
                            <!-- <div class="text"> <%= t('section7-text7') %></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
