<!-- Welcome Section -->
    <section class="welcome-section">
        <div class="container">
            <div class="row">
                <!-- services block -->
                <div class="services-block-two col-lg-4 col-md-6">
                    <div class="inner-box hvr-float-shadow">
                        <div class="icon"><span class="fa fa-sun"></span></div>
                        <h4><a href="#"> <%= t('section3-h4-1') %> </a></h4>
                        <div class="text">
                          <%= t('section3-text1') %>
                        </div>
                    </div>
                </div>
                <!-- services block -->
                <div class="services-block-two col-lg-4 col-md-6">
                    <div class="inner-box hvr-float-shadow">
                        <div class="icon"><span class="fa fa-heart"></span></div>
                        <h4><a href="#"> <%= t('section3-h4-2') %> </a></h4>
                        <div class="text">
                          <%= t('section3-text2') %>
                        </div>
                    </div>
                </div>
                <!-- services block -->
                <div class="services-block-two col-lg-4 col-md-6">
                    <div class="inner-box hvr-float-shadow">
                        <div class="icon"><span class="fa fa-users"></span></div>
                        <h4><a href="#"> <%= t('section3-h4-3') %> </a></h4>
                        <div class="text">
                          <%= t('section3-text3') %>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </section>
