<!-- Disaster response -->
<section class="disaster-response sp-two" style="background-image: <%= image_tag "background/6" %> ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image mb-30">
                  <%= image_tag "resource/feature1a" %>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-5">
                <div class="text-block-one">
                    <h4> <%= t('section6-h4-1') %></h4>
                    <h1> <%= t('section6-h1') %></h1>
                    <div class="text"> <%= t('section6-text1') %></div>
                    <div class="link-btn"><a href="#" class="theme-btn btn-style-twelve"> <%= t('section6-button1') %></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
